<mat-card class="card--big">
  <mat-card-header>
    <mat-card-title>Author Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="30" fxLayout="column" class="card__profile">
        <img class="card__profile-photo" [src]="author.photoUrl" />
        <button mat-button class="card__profile__fav-btn" value="star">
          <mat-icon>star</mat-icon>Favorite
        </button>
      </div>
      <div fxFlex="70">
        <h3>Personal Information</h3>
        <form class="card__profile-form">
          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
            <mat-form-field fxFlex>
              <input matInput placeholder="Name" [(value)]="author.name">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="birthdate" placeholder="Date of Birth" [(value)]="author.birthDate">
              <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
              <mat-datepicker #birthdate></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="deathdate" placeholder="Date of death" [(value)]="author.deathDate">
              <mat-datepicker-toggle matSuffix [for]="deathdate"></mat-datepicker-toggle>
              <mat-datepicker #deathdate></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <textarea cdkTextareaAutosize cdkAutosizeMinRows=8 matInput placeholder="Resume" [(value)]="author.resume"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <app-publication-list [publications]="author.publications" fxFlex></app-publication-list>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>