<mat-card class="card--big">
  <mat-card-header>
    <mat-card-title>Author Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="30" fxLayout="column" class="card__profile">
        <img class="card__profile-photo" src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-button-toggle class="card__profile__fav-btn" value="star">
          <mat-icon>star</mat-icon>Favorite
        </mat-button-toggle>
      </div>
      <div fxFlex="70">
        <form class="card__profile-form">
          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
            <mat-form-field fxFlex>
              <input matInput placeholder="Name" value="Sushi">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Birthdate" value="Sushi">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Date of death" value="Sushi">
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <textarea cdkTextareaAutosize matInput placeholder="Resume"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <app-publication-list></app-publication-list>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>